
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

body {
    background-color: #081225;
}


#app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030f1b; 
    color: #ffffff;
    padding: 35px 30px;
}

#app-header h1 {
    font-size: 27px;
    letter-spacing: 0.5px;
}


.header-controls {
    display: flex;
    gap: 13px; 
    align-items: center;
}


#workspace-selector {
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
}

button {
    background-color: #4677c5; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 600;
}

button:hover {
    background-color: #2563eb; 
}

#sidebar {
    background-color: #99a1a9f9;
    height: calc(100vh - 100px);
    width: clamp(150px, 20vw, 250px);
    display: flex;
    flex-direction: column;
    
}

.buttons button {
    margin: 15px;
    width: 150px;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#workspace-form {
    background: #172029;
    padding: 20px;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}